/*Footer*/

.footer-section{
    background: var(--primary-color);
}
.footer-section .footer-link{
    font-size:1rem;
    color:var(--white-color);
    padding:0 1.875rem;
}
.footer-section .footer-link:hover{
        color:var(--white-color) !important;
}
.footer-section a i{
    font-size: 1.5rem;
    color:var(--white-color);
    padding:0 1rem;
}