<section id="register">
    <div class="register-section wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-content text-center pb-4">
                        <h2>Register Now For Your Next Gaming Adventure!</h2>
                    </div>

                    <form class="register-form mt-3">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="register-sign">First Name: </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <input class="form-control" placeholder="First Name here" name="first" type="text" [(ngModel)]="user.firstName" required #first="ngModel"
                                [class.is-invalid]="first.invalid && first.touched">
                                <div *ngIf="first.invalid && first.touched">
                                    <small class="text-danger">First Name is required</small>
                                    </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4 col-12">
                                <div class="register-sign">Last Name: </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <input class="form-control" placeholder="Last Name here" name="last" type="text" [(ngModel)]="user.lastName" required #last="ngModel"
                                [class.is-invalid]="last.invalid && last.touched">
                                <div *ngIf="last.invalid && last.touched">
                                    <small class="text-danger">Last Name is required</small>
                                    </div>

                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4 col-12">
                                <div class="register-sign">Email: </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <input class="form-control" placeholder="Email here" name="email" type="email" [(ngModel)]="user.email" required #email="ngModel"
                                [class.is-invalid]="email.invalid && email.touched">
                                <div *ngIf="email.invalid && email.touched">
                                    <small class="text-danger">Email is required</small>
                                    </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4 col-12">
                                <div class="register-sign">Username: </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <input class="form-control" placeholder="Username here" name="username" type="text" [(ngModel)]="user.username" required #username="ngModel"
                                [class.is-invalid]="username.invalid && username.touched">
                                <div *ngIf="username.invalid && username.touched">
                                    <small class="text-danger">Username is required</small>
                                    </div>

                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4 col-12">
                                <div class="register-sign">Password: </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <input class="form-control" placeholder="Password here" name="password" type="text" [(ngModel)]="user.password" required #password="ngModel"
                                [class.is-invalid]="password.invalid && password.touched">
                                <div *ngIf="password.invalid && password.touched">
                                    <small class="text-danger">Password is required</small>
                                    </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4 col-12">

                                <div class="register-sign">Confirm Password: </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <input class="form-control" placeholder="Password here" name="confirm" type="text" #confirm="ngModel" (ngModel)="user.password" required
                                [class.is-invalid]="confirm.invalid && confirm.touched">
                                <div *ngIf="confirm.invalid && confirm.touched">
                                <small class="text-danger" [class.no-danger]="(confirm.value == password.value) || confirm.untouched">The passwords didn't match</small>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-lg-3 col-md-12 mt-lg-0 mt-5">
                                <button (click)= "registerUser()" class="sub-main-btn">SUBMIT</button>
                            </div>
                        </div>

                        <div class="nav-item">
                            <a class="login-link" href="#" routerLink="/login">Already have an account? Login Here</a>
                        </div>

                        <div class="text-content text-center pb-4">
                            <small class="text-danger">{{errorFeedback}}</small>
                        </div>
                   

                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</section>

