/* Form Control */
.register-form{
    width:55%;
    margin:0 auto;
}
.register-form .form-control{
    height:3.225rem;
    padding:0 1.25rem;
    font-size: 0.875rem; 
    width:100%;
    border:none;
    border-radius: 0;
    background:transparent;
    border:0.1875rem solid var(--text-gray);
    color:var(--black-color);
    font-weight: 700;
}
.register-form .form-control:hover,
.register-form .form-control:focus{
    outline:none;
    box-shadow: none;
    border-color:var(--primary-color);
}