<footer id="footer">
    <div class="footer-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer-social pt-4 text-center">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="footer-copy">
                        <div class="copy-right text-center pt-5">
                            <p class="text-light">© 2022. Gamers Wiki. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
