<section id="about">
    <div class="about-section wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center pb-4 mb-5">
                        <h2>Check Out All The Latest Releases!</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <ul class="d-flex justify-content-center" *ngIf="brews">
                        <li *ngFor="let brew of brews">
                            <p class="name">{{brew.name}}</p>
                            <p class="country">{{brew.country}}</p>
                            <a href="{{ brew.website_url }}" class="site">site</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


