<section id="about">
    <div class="about-section wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center pb-4 mb-5">
                        <h2>Get To Know More About Us!</h2>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12 mb-lg-0 mb-5">
                    <div class="card border-0">
                        <img src="assets/images/img/img-1.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                
                <div class="col-lg-5 col-md-12 text-sec">
                    <h2>We Are Gamers That Take Pride On Making Your Next Gaming Experience More Special!</h2> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit
                        amet leo. Mauris feugiat erat tellus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit
                        amet leo. Mauris feugiat erat tellus.</p>
                </div>
            </div>
        </div>
    </div>
</section>
