<section id="signin">
  <div class="container-fluid px-0 top-banner">
      <div class="container">
          <div class="row">
              <div class="col-md-5 mt-5">
                  <h1>{{header.heading}}</h1>
                  <p>{{header.headingText}}</p>

                  <div class="mt-4">
                      <a href="{{header.buttonTextOneLink}}">
                        <button class="main-btn">{{header.buttonTextOne}}<i class="fas fa-user-plus ms-3"></i></button>
                      </a>
                      
                      <a href="{{header.buttonTextTwoLink}}">
                        <button class="white-btn ms-lg-4 mt-lg-0 mt-4">{{header.buttonTextTwo}}<i class="fas fa-sign-in-alt ms-3"></i></button>
                      </a>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</section>


