<section id="about">
    <div class="about-section wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center pb-4 mb-5">
                        <h2>Revisit Your Favorites!</h2>
                    </div>
                </div>
            </div>

            <!-- THIS IS JUST A PLACEHOLDER -->

            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12 mb-lg-0 mb-5">
                    <div class="card border-0">
                        <img src="assets/images/img/img-1.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                
                <div class="col-lg-5 col-md-12 text-sec">
                    <h2>We Are Gamers That Take Pride On Making Your Next Gaming Experience More Special!</h2> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit
                        amet leo. Mauris feugiat erat tellus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit
                        amet leo. Mauris feugiat erat tellus.</p>
                </div>
            </div>

            <section id="faq">
                <div class="faq-section wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-center pb-4">
                                    <h2>Frequently Asked Questions</h2>
                                </div>
                            </div>
                        </div>
            
                        <div class="row pt-5">
                            <div class="col-sm-6 mb-4">
                                <h4><span><i class="fa-solid fa-gamepad"></i></span>How reliable are your reviews?</h4>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="col-sm-6 mb-4">
                                <h4><span><i class="fa-sharp fa-solid fa-puzzle-piece"></i></span>Why did you make this resource?</h4>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="col-sm-6 mb-4">
                                <h4><span><i class="fa-sharp fa-solid fa-trophy"></i></span>What is the future for Gamers Wiki?</h4>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="col-sm-6 mb-4">
                                <h4><span><i class="fa-sharp fa-solid fa-headset"></i></span>Are you guys currently hiring?</h4>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12 mb-lg-0 mb-5">
                    <div class="card border-0">
                        <img src="assets/images/img/img-1.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                
                <div class="col-lg-5 col-md-12 text-sec">
                    <h2>We Are Gamers That Take Pride On Making Your Next Gaming Experience More Special!</h2> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit
                        amet leo. Mauris feugiat erat tellus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit
                        amet leo. Mauris feugiat erat tellus.</p>
                </div>
            </div>

            <section id="faq">
                <div class="faq-section wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-center pb-4">
                                    <h2>Frequently Asked Questions</h2>
                                </div>
                            </div>
                        </div>
            
                        <div class="row pt-5">
                            <div class="col-sm-6 mb-4">
                                <h4><span><i class="fa-solid fa-gamepad"></i></span>How reliable are your reviews?</h4>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="col-sm-6 mb-4">
                                <h4><span><i class="fa-sharp fa-solid fa-puzzle-piece"></i></span>Why did you make this resource?</h4>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="col-sm-6 mb-4">
                                <h4><span><i class="fa-sharp fa-solid fa-trophy"></i></span>What is the future for Gamers Wiki?</h4>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                            <div class="col-sm-6 mb-4">
                                <h4><span><i class="fa-sharp fa-solid fa-headset"></i></span>Are you guys currently hiring?</h4>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            

            <!-- THIS IS JUST A PLACEHOLDER -->
        </div>
    </div>
</section>

