
<div class="filters">
  
    <form>
        <label class="word">Sort</label>
        <select
            class="selectbar"
            panelClass="sort-select"
            [(ngModel)]="sort"
        >
            <option value="name">Name</option>
            <option value="-released">Released</option>
            <option value="-added">Added</option>
            <option value="-rating">Rating</option>
            
            
        </select>
    </form>
</div>
<app-search></app-search>
<div class="games">
    <div class="game">
        <div class="game-thumb-container">
            <img
              class="game-thumbnail"
              src={{cover.url}}
             
            />
        </div>
        <div class="game-description">
            <p class="game-name">{{game.name}}</p>
            <div class="game-category">
                <h4>{{game.summary}}</h4>
            </div>

        </div>
    </div>
</div>