<app-nav></app-nav>


<div class="top-banner">
<header>
    <nav class="navbar navbar-expand-lg navigation-wrap">
        <div class="search-container">
          
          <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
            
            <button class="search-button" >Search</button>
            <input
              class="search-input"
              type="search"
              id="search-term"
              name="search"
              ngModel 
              placeholder="Search 1000+ games"
              />
                 
          </form>
        </div>
    </nav>
  </header>

<app-search></app-search>
<div class="games" *ngFor = "let game of games">
    <a href="/games/{{game.id}}">
    <div class="game">
        <div class="game-thumb-container">
            <img
              class="game-thumbnail"
              src={{cover.url}}
              alt = {{game.name}}
             
            />
        </div>
        <div class="game-description" >
            <p class="game-name">{{game.name}}</p>
            <div class="game-category">
                <h4>{{game.summary}}</h4>
            </div>

        </div>
    </div>
    </a>
</div>
</div>
