<section id="login">
    <div class="login-section wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-content text-center pb-4">
                        <h2>Welcome! Sign In Here</h2>
                    </div>

                         <!-- THIS IS JUST A PLACEHOLDER -->

                    <form class="login-form mt-3">
                        <div class="row">
                             <div class="col-md-4 col-12">
                                <div class="register-sign">Username: </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <input class="form-control" placeholder="Username here" name="username" type="text">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4 col-12">
                                <div class="register-sign">Password: </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <input class="form-control" placeholder="Password here" name="password" type="password">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-lg-3 col-md-12 mt-lg-0 mt-5">
                                <button class="sub-main-btn">Sign in</button>
                            </div>
                        </div>   
                        
                        <div class="nav-item">
                            <a class="registration-link" href="#" routerLink="/register">No account? No problem! Register Here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>