<section id="faq">
    <div class="faq-section wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center pb-4">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-sm-6 mb-4">
                    <h4><span><i class="fa-solid fa-gamepad"></i></span>How reliable are your reviews?</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="col-sm-6 mb-4">
                    <h4><span><i class="fa-sharp fa-solid fa-puzzle-piece"></i></span>Why did you make this resource?</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="col-sm-6 mb-4">
                    <h4><span><i class="fa-sharp fa-solid fa-trophy"></i></span>What is the future for Gamers Wiki?</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <div class="col-sm-6 mb-4">
                    <h4><span><i class="fa-sharp fa-solid fa-headset"></i></span>Are you guys currently hiring?</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
        </div>
    </div>
</section>
