<section id="selector">
    <div class="selector-section wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center pb-4 mb-5">
                        <h2>Check Out Our Game Reviews!</h2>
                    </div>
                </div>
            </div>

            <div class="portfolio-menu mt-2 mb-5">
                <ul>
                    <li class="btn btn-outline-dark active" data-filter="*">All</li>
                    <li class="btn btn-outline-dark" data-filter="#casual">Casual</li>
                    <li class="btn btn-outline-dark" data-filter="#strategy">Strategy</li>
                    <li class="btn btn-outline-dark text" data-filter="#fps">FPS</li>
                </ul>
            </div>

            <div class="portfolio-item row">
                <div id="strategy" class="item gts col-lg-3 col-md-4 col-6 col-sm">
                    <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="assets/images/selector/Anno-1800.jpg" alt="">
                    </a>
                </div>

                <div id="fps" class="item lap col-lg-3 col-md-4 col-6 col-sm">
                    <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="assets/images/selector/Battlefield-V-free-download-cracked.jpg" alt="">
                    </a>
                </div>

                <div id="fps" class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                    <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="assets/images/selector/Call-of-Duty-WWII-cracked-download.jpg" alt="">
                    </a>
                </div>

                <div id="casual" class="item col-lg-3 col-md-4 col-6 col-sm">
                    <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="assets/images/selector/Fall-Guys-Ultimate-Knockout-free.jpg" alt="">
                    </a>
                </div>

                <div id="strategy" class="item col-lg-3 col-md-4 col-6 col-sm">
                    <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="assets/images/selector/Farthest-Frontier-Free.jpg" alt="">
                    </a>
                </div>

                <div id="strategy" class="item col-lg-3 col-md-4 col-6 col-sm">
                    <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="assets/images/selector/Hearts-of-Iron-IV-Together-for-Victory.jpg" alt="">
                    </a>
                </div>

                <div id="fps" class="item col-lg-3 col-md-4 col-6 col-sm">
                    <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="assets/images/selector/PLAYERUNKNOWNS-BATTLEGROUNDS.jpg" alt="">
                    </a>
                </div>

                <div id="fps" class="item col-lg-3 col-md-4 col-6 col-sm">
                    <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="assets/images/selector/Ready-or-Not-Free.jpg" alt="">
                    </a>
                </div>

                <div id="casual" class="item col-lg-3 col-md-4 col-6 col-sm">
                    <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="assets/images/selector/Slime-Rancher.jpg" alt="">
                    </a>
                </div>

                <div id="casual" class="item col-lg-3 col-md-4 col-6 col-sm">
                    <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="assets/images/selector/Stardew-Valley.png" alt="">
                    </a>
                </div>

                <div id="casual" class="item col-lg-3 col-md-4 col-6 col-sm">
                    <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="assets/images/selector/The-Sims-4-Discover-University.jpg" alt="">
                    </a>
                </div>

                <div id="strategy" class="item col-lg-3 col-md-4 col-6 col-sm">
                    <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="assets/images/selector/Total-War-THREE-KINGDOMS-free.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
