<header>
    <nav class="navbar navbar-expand-lg navigation-wrap">
        <div class="container">
            <a href="#" class="navbar-brand" href="#home"><img src="assets/images/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-stream navbar-toggler-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#selector">Game Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq">FAQ</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="#" routerLink="/favorite"><button class="main-btn">View Your Favorite</button></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</header>

