/*Book*/

.book-section{
    width:100%;
    background:url('../../assets/images/bg/bg-2.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position:0 70px;
    padding:4rem 0;
}

.book-section h2 {
    color: var(--white-color);
}