<header>
  <nav class="navbar navbar-expand-lg navigation-wrap">
      <div class="search-container">
        
        <form class="search-form" #form="ngForm" (ngSubmit)="search(form)">
          
          <button class="search-button" >Search</button>
          <input
            type="search"
            id="searchTerm"
            [(ngModel)] = "searchTerm" 
            class="search-input"
            placeholder="Search 1000+ games"
            ngModel 
            required
            />
               
        </form>
          

          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="#home">Home</a>
  
                  <li class="nav-item">
                      <a href="#" routerLink="/favorite"><button class="main-btn">View Your Favorite</button></a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
