/* ABOUT */

.about-section {
    background: var(--white-color);
}

.about-section .card, 
.about-section .card img {
    border-radius: .6rem;
}

.about-section .text-sec{
    padding-left:2rem;
}

/*FAQ*/

.faq-section h4 span {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-right: .5rem;
}